;; environment variables
.env

;; other
*.pyc

;; client side
*.min*


;; virtual environments
ven
venv
env

;; IDE configurations
.idea/
.vscode

;; code coverage reports
.coverage
cover
coverage
htmlcov

;; database
db.sqlite3